#home p {
    font-size:1.4em;
}

iframe {
    margin: 20px 0 20px 0;
}

.carousel .container {
 
}

#carousel-1 h1 {
    color:#fff;
    text-shadow: 0px 2px 0px black;
    margin: 180px 0 10px 0;
    font-size: 3em;
}

#carousel-1 h2 {
    color:#fff;
    text-shadow: 0px 2px 0px black;
    margin: 20px 0 10px 0;
}

.site-navbar .navbar-brand i,
a  {
    color: #F28D35;
}
.site-navbar .navbar-nav .active a {
    background: #F28D35; 
}
.btn-danger {
    color: #fff;
    background-color: #F28D35;
    border-color: #ef4a34;
}

.section.section-features .icon-wrap {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    border-radius:50px;
    border: 1px solid :333;
}

.section.section-features .icon-wrap img {
    border-radius:5px;
    border: 1px solid :333;
}

#sponsors .container {
    min-height:300px;
    text-align: center;
}

#sponsors .container .row {
    margin: 0 0 20px 0;
}

.section.section-our-clients a,
.section.section-our-clients a:hover {
    background: none;
    display: block;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    border:0;
}

.panel-primary {
    border-color: #F28D35;
}

.panel-primary .panel-heading {
    color: #fff;
    background-color: #F28D35;
    border-color: #F28D35;
}

@media (max-width: 480px) {
    iframe {
        width:320px;
    }
    #carousel-1 h1 {
        font-size: 2.5em;
    }
    #carousel-1 h2 {
        font-size: 2em;
    }
}